# =========================
# ENVIRONMENT / SECRETS
# =========================

.env
.env.*
!.env.example


# =========================
# PYTHON
# =========================

__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
env/


# =========================
# ANGULAR / NODE
# =========================

node_modules/
dist/
.angular/


# =========================
# IDE
# =========================

.vscode/
.idea/


# =========================
# OS
# =========================

.DS_Store
Thumbs.db


# =========================
# LOGS
# =========================

*.log